# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/build/
**/doc/api/
**/ios/Flutter/Flutter.podspec
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Dart
*.packages
.pub-cache/
.pub/
**/pubspec.lock

# Android
**/android/local.properties
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/gradle/wrapper/gradle-wrapper.jar
**/android/**/GeneratedPluginRegistrant.java
**/android/app/debug
**/android/app/profile
**/android/app/release
*.jks
*.keystore

# General
*.class
*.log
*.pyc
__pycache__/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml
CPTOND-2025/
